Django==1.5.1
python-dateutil==2.1
pytz==2013b
-e git+https://github.com/jakewins/django-money.git@323a4012df49a0bbab332d162739910067fcfcad#egg=django_money
-e git+https://github.com/limist/py-moneyed.git@f51ec0e7cf5fdf570fd2a74de779c44b9cd74a65#egg=py-moneyed
